<?js
    var self = this;
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
    <title>Impact++<?js= (function (){ if ( title && title.toLowerCase() !== 'index' ) { return ' / ' + title; } }() ) ?></title>
    
    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
		<script src="scripts/html5shiv.js"> </script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify.css">
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="styles/main.css">
</head>

<body data-spy="scroll" data-target="#navdoc">
	
	<div id="header">
		<a href="index.html"><img src="img/banner_impactplusplus.png"></a>
		<a href='http://github.com/collinhover/impactplusplus/' id="forkBtn"><img src="img/fork_impactplusplus.png" alt="Fork me on GitHub"></a>
		<button id="demoBtn" data-path="demo/index.html"><img src="img/demo_impactplusplus.png" alt="Demo Impact++"></div>
	</div>
	
	<iframe id="demo" class="hidden"></iframe>
	
	<div id="docs" class="container">
		
		<div class="row">
			
			<div class="span2">
				<nav id="mainnav">
					
					<?js= self.nav ?>
					
				</nav>
			</div>
			
			<div class="span10">
				<div id="maincontent">
					
					<?js= (function () {
						
						var bc = self.breadcrumb;
						
						// replace main breadcrumb with doc breadcrumb if present
						
						if ( docs && docs.length ) {
							
							for ( var i = 0, il = docs.length; i < il; i++ ) {
								
								if ( docs[ i ].breadcrumb ) {
									
									bc = docs[ i ].breadcrumb;
									
								}
								
							}
							
						}
						
						return bc;
						
					}()) ?>

					<div class="row">

						<div id="maincontentColumn2" class="span2">
							
							<?js= (function () {
								
								var nd = self.navDocs;
								
								// replace main nav with doc nav if present
								
								if ( docs && docs.length ) {
									
									for ( var i = 0, il = docs.length; i < il; i++ ) {
										
										if ( docs[ i ].nav ) {
											
											nd = docs[ i ].nav;
											
										}
										
									}
									
								}
								
								return nd;
								
							}()) ?>

						</div>

						<div id="maincontentColumn8" class="span8">
						
							<?js= content ?>
							
						</div>
						
					</div>
					
				</div>
				
			</div>
			
		</div>
			
	</div>

	<footer>
		<p class="muted">Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a> on <?js= (new Date()) ?></p>
	</footer>
	
	<script src="scripts/linenumber.js"> </script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="scripts/jquery-1.9.1.min.js"><\/script>')</script>
	<script src="scripts/bootstrap.min.js"> </script>
	<script src="scripts/main.js"> </script>
	
</body>
</html>
