<?js
    var self = this;
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
    <title>Impact++<?js= (function (){ if ( title && title.toLowerCase() !== 'index' && title.toLowerCase() !== 'impact++' ) { return ' / ' + title; } }() ) ?></title>
    
    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
		<script src="scripts/html5shiv.js"> </script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify.css">
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="styles/main.css">
</head>

<body data-spy="scroll" data-target="#navdoc">

	<?js= content ?>
	
	<script src="scripts/linenumber.js"> </script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="scripts/jquery-1.9.1.min.js"><\/script>')</script>
	<script src="scripts/bootstrap.min.js"> </script>
	<script src="scripts/main.js"> </script>
	
</body>
</html>
