<?js
var data = obj;
var self = this;
?>

<?js if (data.kind !== 'package') { ?>
	
	<div id="header">
		<a href="index.html"><img src="img/banner_impactplusplus.png"></a>
		
		<div id="headerlinks">
			
			<div id="downloadBtn">
			
				<a href='http://github.com/collinhover/impactplusplus/' id="forkBtn">
					<img src="img/fork_impactplusplus.png" alt="Fork me on GitHub">
				</a>
				
				<a href='http://github.com/collinhover/impactplusplus/zipball/master/'>
					<img src="img/download_impactplusplus.png" alt="Download Impact++">
				</a>
				
			</div>
			
			<div id="demoBtn">
				
				<a href="demo/index.html">
					<img src="img/demo_impactplusplus.png" alt="Demo Impact++">
				</a>
			
				<a href='ig.html' id="docsBtn">
					<img src="img/docs_impactplusplus.png" alt="To the Docs!">
				</a>
				
			</div>
			
		</div>
	</div>
	
	<div id="docs">
		
		<div class="container">
			
			<section id="intro" class="main-section">
				
				<h1>Supafly with <a href="http://impactjs.com" target="_blank">ImpactJS</a> and Impact++</h1>
				<h4 class="subtext">Start making full featured games for the web (and mobile) and forget about building the boilerplate.</h4>
				
			</section>
			
			<hr>
			
			<section id="tutorials" class="main-section">
			
				<h3>Tutorials</h3>
			
				<div class="row">
					
					<div class="span3">
					
						<div class="feature">
							<a href="tutorial-Started.html" class="hero-unit">
								<h4>1. Getting Started</h4>
								<p class="subtext">by @collinhover</p>
							</a>
						</div>
						
					</div>
					
					<div class="span3">
					
						<div class="feature">
							<a href="tutorial-Player.html" class="hero-unit">
								<h4>2. Player</h4>
								<p class="subtext">by @collinhover</p>
							</a>
						</div>
						
					</div>
					
					<div class="span3">
					
						<div class="feature">
							<a href="tutorial-Character.html" class="hero-unit">
								<h4>3. Character</h4>
								<p class="subtext">by @collinhover</p>
							</a>
						</div>
						
					</div>
					
					<div class="span3">
					
						<div class="feature">
							<a href="tutorial-Camera.html" class="hero-unit">
								<h4>4. Camera</h4>
								<p class="subtext">by @Pattentrick</p>
							</a>
						</div>
						
					</div>
				
				</div>
			
				<div class="row">
					
					<div class="span3">
					
						<div class="feature">
							<a href="tutorial-UI.html" class="hero-unit">
								<h4>5. UI</h4>
								<p class="subtext">by @Pattentrick</p>
							</a>
						</div>
						
					</div>
					
					<div class="span3">
					
						<div class="feature">
							<a href="tutorial-Pathfinding.html" class="hero-unit">
								<h4>6. Pathfinding</h4>
								<p class="subtext">by @Pattentrick</p>
							</a>
						</div>
						
					</div>
					
					<div class="span3">
					
						<div class="feature">
							<a href="tutorial-Creatures.html" class="hero-unit">
								<h4>7. Creatures</h4>
								<p class="subtext">by @Pattentrick</p>
							</a>
						</div>
						
					</div>
					
					<div class="span3">
					
						<div class="feature">
							<a href="tutorial-Lighting.html" class="hero-unit">
								<h4>8. Lighting</h4>
								<p class="subtext">by @Pattentrick</p>
							</a>
						</div>
						
					</div>
					
				</div>
			
				<div class="row">
					
					<div class="span3">
					
						<div class="feature">
							<a href="tutorial-Conversations.html" class="hero-unit">
								<h4>9. Conversations</h4>
								<p class="subtext">by @Pattentrick</p>
							</a>
						</div>
						
					</div>
					
				</div>
				
			</section>
			
			<hr>

			<section id="features" class="main-section">
			
				<h3>Features</h3>
			
				<div class="row">
					
					<div class="span3">
					
						<div class="feature">
							<a href="ig.EntityLight.html" class="hero-unit">
								<img src="img/example_lighting.png">
								<h4 class="subtext">Dynamic Lights</h4>
								<p>Lighting in real-time with shadows, dynamic alpha and color, gradient or flat shaded, and pixel perfect.</p>
							</a>
						</div>
						
					</div>
					
					<div class="span3">
					
						<div class="feature">
							<a href="ig.Creature.html" class="hero-unit">
								<img src="img/example_creature.png">
								<h4 class="subtext">Creature Abstract</h4>
								<p>Abstract creature class with simple AI to find prey and predators, move to, attack, use abilities, and flee.</p>
							</a>
						</div>
						
					</div>
					
					<div class="span3">
					
						<div class="feature">
							<a href="ig.pathfinding.html" class="hero-unit">
								<img src="img/example_pathfinding.png">
								<h4 class="subtext">Path Finding</h4>
								<p>Garbage collector free, entity avoiding, plus the addition of editor drawn pathfinding maps.</p>
							</a>
						</div>
						
					</div>
					
					<div class="span3">
					
						<div class="feature">
							<a href="ig.GameExtended.html" class="hero-unit">
								<img src="img/example_game.png">
								<h4 class="subtext">Game Extended</h4>
								<p>Game that handles sidescrolling or topdown with layers, easy pausing, improved debugger and collisions.</p>
							</a>
						</div>
						
					</div>
					
				</div>

				<div class="row">
					
					<div class="span3">
					
						<div class="feature">
							<a href="ig.EntityExtended.html" class="hero-unit">
								<img src="img/example_entities.png">
								<h4 class="subtext">Entity Extended</h4>
								<p>Entities with lots of extra helper functions, opt-in performance, and inheritance friendly animations.</p>
							</a>
						</div>
						
					</div>
					
					<div class="span3">
					
						<div class="feature">
							<a href="ig.Player.html" class="hero-unit">
								<img src="img/example_player.png">
								<h4 class="subtext">Player Abstract</h4>
								<p>Abstract player class with built in input handling, entity interaction, checkpoints, stats, and more.</p>
							</a>
						</div>
						
					</div>
					
					<div class="span3">
					
						<div class="feature">
							<a href="ig.Ability.html" class="hero-unit">
								<img src="img/example_abilities.png">
								<h4 class="subtext">Modular Abilities</h4>
								<p>Abilities that are modular, have a built in casting system, upgrades, and even some predefined.</p>
							</a>
						</div>
						
					</div>
					
					<div class="span3">
					
						<div class="feature">
							<a href="ig.Camera.html" class="hero-unit">
								<img src="img/example_camera.png">
								<h4 class="subtext">Camera Control</h4>
								<p>Camera for screen control, smooth target transitions, atmospheric overlays, and shake effects.</p>
							</a>
						</div>
						
					</div>
					
				</div>

				<div class="row">
					
					<div class="span3">
					
						<div class="feature">
							<a href="ig.UIElement.html" class="hero-unit">
								<img src="img/example_ui.png">
								<h4 class="subtext">User Interface</h4>
								<p>A variety of simple ui element entities to make text, buttons, overlays, meters, and more.</p>
							</a>
						</div>
						
					</div>
					
					<div class="span3">
					
						<div class="feature">
							<a href="ig.Particle.html" class="hero-unit">
								<img src="img/example_particles.png">
								<h4 class="subtext">Particle Abstract</h4>
								<p>Abstract particle class with fading in and/or out, random velocities, auto animations, and projectiles.</p>
							</a>
						</div>
						
					</div>
					
					<div class="span3">
					
						<div class="feature">
							<a href="ig.CONFIG.html" class="hero-unit">
								<img src="img/example_config.png">
								<h4 class="subtext">Config Driven</h4>
								<p>Data driven configuration to allow you to change parameters without rebuilding or modifying the library.</p>
							</a>
						</div>
						
					</div>
					
					<div class="span3">
					
						<div class="feature">
							<a href="ig.html" class="hero-unit">
								<img src="img/example_more.png">
								<h4 class="subtext">Over 9000</h4>
								<p>Enhancements, fixes, and far too much more to reasonably list here!</p>
							</a>
						</div>
						
					</div>
					
				</div>
			
			</section>
			
		</div>
	
		<hr>

		<footer>
			<p class="muted">Impact++ created and maintained by <a href="http://twitter.com/collinhover" target="_blank">@collinhover</a> / <a href="http://collinhover.com/" target="_blank">collinhover.com</a></p>
		</footer>
		
	</div>
	
<?js } ?>