<?js
var data = obj;
var self = this;
?>
<dt <?js if ( data.inherited && data.inherits ) { ?>class="inherited hidden"<?js } ?>>
    <h4 class="name" id="<?js= id ?>"><?js= data.attribs + name + (data.signature ? data.signature : '') ?></h4>
    
    <?js if (data.summary) { ?>
    <p class="summary"><?js= summary ?></p>
    <?js } ?>
</dt>
<dd <?js if ( data.inherited && data.inherits ) { ?>class="inherited hidden"<?js } ?>>
    <?js if (data.description) { ?>
    <p class="description">
        <?js= data.description ?>
    </p>
    <?js } ?>
    
    <?js if (false /*data.type && data.type.names*/) {?>
        <ul class="unstyled inline">
			<li><h5>Type:</h5></li>
            <li>
                <?js= self.partial('type.tmpl', data.type.names) ?>
            </li>
        </ul>
    <?js } ?>

    <?js= this.partial('details.tmpl', data) ?>
    
    <?js if (data.examples && examples.length) { ?>
        <span class="label">Example<?js= examples.length > 1? 's':'' ?></span>
        <?js= this.partial('examples.tmpl', examples) ?>
    <?js } ?>
</dd>
