<?js
var data = obj;
if (data.description) {
?>
<div class="param-desc">
<?js if (data.type && data.type.names) {?>
	<span class="type-signature">{<?js= this.partial('type.tmpl', data.type.names) ?>}</span>
<?js } ?>
<?js= description ?>
</div>
<?js } ?>

